<%-include("header")-%>

    <div class="box" id="heading">
        <h1><%=listTittle%> to do list</h1>
    </div>
    
   <div class="box">     
        <% for (var i=0; i<newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%=newListItems[i]%></p>
                <button type="submit" name="button" value=<%= newListItems %>  >x</button>

            </div>
       <% } %>
       <form class="item" method="post" action="/">
        <input type="text" name = "newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%=listTittle%> >+</button>
      </form>
   
   </div>
   <%-include("footer")-%>